Package: workflowmaker
Version: 1.0-8
Architecture: amd64
Maintainer: Centre Tecnologic de Comunicacions de Catalunya - Geomatics RU <jose.navarro@cttc.es>
Depends:libc6 (>= 2.34), libgcc-s1 (>= 3.0), libqt6core6 (>= 6.2.0), libqt6gui6 (>= 6.1.2), libqt6widgets6 (>= 6.1.2), libstdc++6 (>= 11)
Description: Design your toolkits, build your workflows and run your tools.
 Utilities included: toolkiteditor, workfloweditor, workflowlauncher.
