# Subversion files at the root directory.

.svn/

# Installers, wherever these are.

**/installer/deployment
/installer/installer_sw_windows/*.exe
/installer/installer_sw_linux/workflowmaker_x.y-zz_amd64
/installer/installer_sw_linux/workflowmaker_x.y-zz_doc_and_samples


# Binaries, header and intermediat build folders.

**/binaries/
**/headers/
**/x64/

# HTML directories.

**/html/
**/doc_html/

# QT files and folders.

**/*.pro.user

**/build-*

# C++ common temporary files --------------------

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
#*.exe
*.out
*.app
deployment
