# Subversion files at the root directory.

.svn/

# Deployment directories

QT_redistributables/
VC_redistributables/

# Installers, wherever these are.

**/installer/deployment
**/installer/installer_sw/*.exe

# Binaries, header and intermediat build folders.

**/binaries/
**/headers/
**/x64/

# HTML directories.

**/html/

# QT files and folders.

**/*.pro.user

**/build-*

# C++ common temporary files --------------------

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
deployment
#tools/ToolkitEditor/doc_html/
#tools/WorkflowEditor/doc_html/
#tools/WorkflowLauncher/doc_html/
#libraries/WorkflowMakerLib/doc_html/
/paper/compile.bat
/paper/paper.pdf
